<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contatore</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body class="body-cont"> 
    <div class="title">
      <h1>CONTATORE</h1>
    </div>
    <div class="contatore">
      <button class="meno">-</button>
      <div class="counter">00</div>
      <button class="piu">+</button>
    </div>
    <div class="obbiettivo">
      <p>OBBIETTIVO: <div class="counter">00</div></p>
    </div>
    <div class="buttons">
      <button class="mic-button"><img src="img/mic.png" alt="" /></button>
    </div>
    <div class="menu">
      <button class="ora-button"><a href="index.html">Ora</a></button>
      <button class="crono-button"><a href="cronometro.html">Cronometro</a></button>
      <button class="timer-button"><a href="timer.html">Timer</a></button>
      <button class="counter-button" id="timer-active"><a href="contatore.html">Contatore</a></button>
    </div>
    <script src="/static/crono.js"></script>
  </body>
</html>
