body {
  background-color: #0cc0df;
  display: grid;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.body-timer {
  grid-template-rows: 10vh 30vh 20vh 20vh 10vh;
  grid-template-areas:
    "title"
    "timer"
    "preset-timer"
    "buttons"
    "menu";
  gap: 20px;
}

.body-crono {
  grid-template-rows: 10vh 40vh 30vh 10vh;
  grid-template-areas:
    "title"
    "timer"
    "buttons"
    "menu";
  gap: 10px;
}

.body-ora {
  grid-template-rows: 10vh 50vh 30vh 10vh;
  grid-template-areas:
    "title"
    "timer"
    "buttons"
    "menu";
  gap: 10px;
}

.body-cont {
  grid-template-rows: 10vh 30vh 20vh 15vh 10vh;
  grid-template-areas:
    "title"
    "counter"
    "goal"
    "buttons"
    "menu";
  gap: 10px;
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Anton", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 8px;
  position: relative;
  font-size: 2rem;
}

.fullscreen {
  position: absolute;
  width: clamp(3%, 6%, 10%);
  height: auto;
  top: 1px;
  right: 1px;
}

.body-crono .fullscreen {
  width: clamp(3%, 6%, 10%);
}
.fullscreen img {
  width: 100%;
  height: auto;
}

.body-timer .title {
  font-size: 3rem;
}

.body-crono .title {
  font-size: 2rem;
}

.body-ora .title {
  font-size: 3rem;
}

.timer {
  grid-area: timer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: clamp(1.5rem, 20vw, 150px);
}

.contatore {
  grid-area: counter;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: clamp(3rem, 30vw, 150px);
}
.contatore .counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw

}

.obbiettivo {
  grid-area: goal;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: clamp(3rem, 10vw, 100px);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.counter {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body-timer .counter,
.body-crono .counter,
.body-ora .counter {
  display: inline-block;
  width: 12vw;
  text-align: center;
  font-variant-numeric: tabular-nums;
}


.preset-timer {
  grid-area: preset-timer;
  align-items: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  font-size: 150%;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.preset {
  background-color: #2087f3;
  width: clamp(45px, 15vw, 80px);
  height: clamp(45px, 15vw, 80px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  grid-area: buttons;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.body-ora .mic-button,
.body-cont .mic-button {
  grid-column: 2;
  width: clamp(90px, 35vw, 160px);
  height: clamp(90px, 35vw, 160px);
}

.buttons button,
.fullscreen {
  border: none;
  background: none;
  cursor: pointer;
}

.reset-button,
.stop-button,
.mic-button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-timer .reset-button,
.stop-button,
.mic-button {
  width: clamp(50px, 18vw, 90px);
  height: clamp(50px, 18vw, 90px);
}

.body-crono .reset-button,
.stop-button,
.mic-button {
  width: clamp(50px, 30vw, 150px);
  height: clamp(50px, 30vw, 150px);
}

.body-cont button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 100%;
}

.buttons button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu {
  grid-area: menu;
  display: flex;
  align-items: end;
  justify-content: space-around;
}

.body-ora .menu {
  align-items: center;
}

.menu button {
  background-color: #243dc5;
  color: white;
  font-weight: 800;
  border-radius: 5%;
  cursor: pointer;
}
a {
  color: white;
  text-decoration: none;
}

#timer-active {
  background-color: #009cff;
}
